<div style="padding: 20px;">
<form>
    <input type="text" #inputFirst placeholder="First Name" required/><br><br>
    <input type="text" #inputLast placeholder="Last Name"/><br><br>
</form>
<button (click) = "getName(inputFirst.value, inputLast.value)">Log Name</button><br><br>
<button (click) = "clear()">Clear Table</button><br><br>
<table>
    <tr>
        <th *ngFor = "let column of header">
            {{column}}
        </th>
    </tr>
    <tr *ngFor = "let row of names">
        <td *ngFor = "let column of header"> 
            {{row[column]}}
        </td>
    </tr>
</table>
</div>
<!-- <mat-table [dataSource]="names">
    <div *ngFor = "let column of header">
        <ng-container matColumnDef={{column}}>
            <th mat-header-cell *matHeaderCellDef> {{column}} </th>
            <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>
    </div>
    
    <ng-container matColumnDef="Last Name">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let element"> {{element["First Name"]}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="header"></tr>
    <tr mat-row *matRowDef="let row; columns: header;"></tr>
    
</mat-table> -->