<!-- <p>
  <mat-toolbar color="primary">
    <span>AU Session Manager</span>
  </mat-toolbar>
</p> -->
<p>
  <mat-toolbar color="primary">
   <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button> -->
  <span>AU Session Manager</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon>share</mat-icon>
 </button>
</mat-toolbar>
</p>
<router-outlet></router-outlet>